body{
  width: 100%;
  height: 100%;
  margin: 0;
  background: url("../img/background.jpg") repeat;
}
a{
  color: #ffffff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
a:hover, a:focus{
  color: #a9cc17;
  outline: none;
  text-decoration: none;
}
#mainNav{
  background-color: #141414;
  color: #ffffff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
#mainNav .navbar-brand{
  font-weight: 200;
  letter-spacing: 1px;
}
#mainNav .navbar-toggler{
  font-size: 12px;
  padding: 8px 10px;
  background-color: #141414;
  color: #ffffff;
}
#mainNav .navbar-nav > li > a{
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#mainNav .navbar-nav > li > a.active{
  color: #a9cc17 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li > a.active:hover{
  background-color: transparent;
}
#mainNav.navbar-shrink .navbar-nav > li > a,
#mainNav.navbar-shrink .navbar-nav > li > a:focus{
  color: #ffffff;
}
#mainNav.navbar-shrink .navbar-nav > li > a:hover,
#mainNav.navbar-shrink .navbar-nav > li > a:focus:hover{
  color: #a9cc17;
}
@media (max-width:3000px) {
  #mainNav {
    background-color: #141414;
  }
  #mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover {
    color:#141414;
  }
  #mainNav .navbar-nav>li>a,#mainNav .navbar-nav>li>a:focus {
    color:#fff;
  }
  #mainNav .navbar-nav>li>a:focus:hover,#mainNav .navbar-nav>li>a:hover {
    color:#a9cc17;
  }
  #mainNav.navbar-shrink {
    background-color:#141414;
  }
  #mainNav.navbar-shrink .navbar-brand:focus,#mainNav.navbar-shrink .navbar-brand:hover {
    color:#a9cc17;
  }
  #mainNav.navbar-shrink .navbar-nav>li>a,#mainNav.navbar-shrink .navbar-nav>li>a:focus {
    color:#ffffff;
  }
  #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover,#mainNav.navbar-shrink .navbar-nav>li>a:hover {
    color:#a9cc17;
  }
 .navbar-light .navbar-nav .nav-link{
    color: #ffffff;
  }
}

/*Style Slider*/
svg{
  display: block;
  width: 100%;
  height: 100%;
}
.slider__slide--1, .slider__slide--2, .slider__slide--3, .slider__slide--4{
    width: 100%;
}
.slider {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
#vinieta{
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.slider--full {
  width: 100vw;
  height: 100vh;
}
.slider--small {
  width: 100vw;
  height: 70vh;
}
.slider__inner {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.slider--full .slider__inner {
  width: 100%;
  height: 100%;
}
.slider--fixed .slider__inner {
  width: 100%;
  height: 100%;
}
.slider--proportional .slider__inner {
  width: 100%;
  height: 0;
}
.slider--proportional--4x3 .slider__inner {
  padding-top: 75%;
}
.slider--proportional--5x4 .slider__inner {
  padding-top: 80%;
}
.slider--proportional--16x9 .slider__inner {
  padding-top: 56.25%;
}
.slider__slides {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 400%;
  height: 100%;
  overflow-y: hidden;
  -webkit-transition: margin-left 0.4s;
  transition: margin-left 0.4s;
}
.slider__slide {
  display: block;
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}
.slider__radiobox-label {
  display: block;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.slider__radiobox-label--item {
  bottom: 6%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 6px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border: 1px solid #dddddd;
}
.slider__radiobox-label--item:hover {
  opacity: 0.5;
  background: #dddddd;
  border: 1px solid #dddddd
}
.slider__radiobox-label--item--1{
  margin-left: -36px;
}
.slider__radiobox-label--item--2{
  margin-left: -12px;
}
.slider__radiobox-label--item--3{
  margin-left: 12px;
}
.slider__radiobox-label--item--4{
  margin-left: 36px;
}
.slider__radiobox--1:checked ~ .slider__slides{
  margin-left: 0;
}
.slider__radiobox--2:checked ~ .slider__slides{
  margin-left: -100%;
}
.slider__radiobox--3:checked ~ .slider__slides{
  margin-left: -200%;
}
.slider__radiobox--4:checked ~ .slider__slides{
  margin-left: -300%;
}
.slider__radiobox--1:checked + .slider__radiobox-label--item--1,
.slider__radiobox--2:checked + .slider__radiobox-label--item--2,
.slider__radiobox--3:checked + .slider__radiobox-label--item--3,
.slider__radiobox--4:checked + .slider__radiobox-label--item--4 {
  opacity: 1;
  background-color: #dddddd;
}

/*Style News*/
#news{
    position:relative;
    box-sizing: border-box;
	padding-bottom:1%;
	margin-bottom:3%;
	height:94vh;
	border-bottom: 1px solid #a9cc17;
}
#news a{
	color:#fff;
	text-decoration:none;
}
#news a:hover{
	color:#a9cc17;
	text-decoration:none;
}
#social{
    text-align:center;
  height: 100%;
  color: #ffffff;
}
#freshnews{
box-sizing: border-box;
  text-align:right;
  border-left:1px solid #a9cc17;
}
#freshnews h1{
  color: #ffffff;
  font-size:5vh;
}
#freshnews h5{
  margin-bottom: 6%;
  color: #ffffff;
}
#freshnews h1{
  font-size: 7vh;
}

#news ul i{
  width:100%;
  padding:1% 0;
  list-style:none;
  background-color:#a9cc17;
  font-size:2vh;
}
#news ul{
  padding:0;
  list-style:none;
}
#news li{
	width:100%;
  color: #a9cc17;
  padding:2%;
  border: 1px solid #a9cc17;
  margin-top: -1%;
  margin-bottom:1%;
}
#news #freshnews h4{
  text-align: right;
  margin:4% 0;
  font-size:4vh;
}
#posts{
    height: 60%;
    text-align: right;
}
#posts img:hover{
    opacity: 0.9
}
.row{
    position: relative;
    height: 96%;
}
#big_post{
  width: 60%;
  height: 100%;
  background-color: #a9cc17;
  display: inline-block;
  float: left;
  position: relative;
}

#big_post img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#small_post{
  display: inline;
  background-color: #a9cc17;
  width: 39%;
  height: 50%;
  float: right;
  position: relative;
}
#small_post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#post_text_big{
  position: absolute;
  bottom: 20%;
  color: red;
}
#post_text{
  background: linear-gradient(rgba(0, 0, 0, 0) , rgba(0, 0, 0, 1));
  text-align: center;
  position: absolute;
  font-size:150%;
  bottom:0%;
  color: white;
  width: 100%;
  text-shadow: 1px 1px 5px #000;
}
#post_text h3{
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1280px){
	#news{
		height:auto;
		padding:auto;
	}

	#social{
		width:100%;
		height:auto;
		margin:0;
		padding:5%;
		border-right:none;
	}
    #posts{
        margin:0;
        padding: 0;
    }
	#freshnews{
	  width: 100%;
        height: auto;
	  clear:both;
	  text-align:center;
      border: none;
	}
	#news #freshnews h4{
        margin-top: 10%;
		text-align: center;
	}
    #big_post{
        margin:0;
        padding:0;
        width: 100%;
        height: 33.3333333333333333%;
    }
    #small_post{
        width: 100%;
        height: 33.3333333333333333%;
    }
    #post_text{
        font-size: 90%;
    }
}
#line-live{
  position:relative;
  background: #a9cc17;
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
  overflow:hidden;
}
#line-live > p {
  position:absolute;
  margin:0;
  white-space:nowrap;
  animation:przesun 55s linear infinite;
  -webkit-animation:przesun 55s linear infinite;
}
@keyframes przesun
{
  0% { transform:translateX(0); padding-left:110%; }
  100% { transform:translateX(-100%); padding-left:110%; }
}
@-webkit-keyframes przesun
{
  0% { -webkit-transform:translateX(0); padding-left:110%; }
  100% { -webkit-transform:translateX(-100%); padding-left:110%; }
}
.clear{
	clear:both;
}
#text1{
    width: 500px;
}
#textdiv{
    width:50vw;
    height: 20%;
    margin: 40vh 25vw;
    z-index: 3;
    position: absolute;
}
#textslider{
    color: #fff;
    margin: 6% 0;
    text-align: center;
    font-size: 8vh;
    font-family: 'Raleway';
}

@media (max-width:480px){
    #textdiv{
    width:50vw;
    height: 10%;
    margin: 46vh 25vw;
    }
    #textslider{
        font-size: 3vh;
        margin: 2% 0;
        letter-spacing: 1px;
    }
}
@media all and (min-width:480px) and (max-width:800px){
    #textdiv{
    width:50vw;
    height: 10%;
    margin: 46vh 25vw;
    }
    #textslider{
        font-size: 5vh;
        margin: 0;
        letter-spacing: 1px;
    }
}
/*Style Gallery*/
#page2{
	width:100%;
	height:100vh;
	padding:2vh 0;
}
#buttons{
	width:100%;
	height:20%;
	text-align:center;
}
#buttons img {
	height:80%;
	width:20%;
}
#buttons #lol{
    cursor: pointer;
	margin-right:10%;
}
#buttons #cs{
    cursor: pointer;
	margin-left:10%;
}
#page2 #text{
	width:25%;
	height:80%;
	margin-left:10%;
	float:left;
}
#page2 #text h1{
	margin:0;
	font-size:12vh;
	color:#aacc16;
	margin-bottom:65%;
}
#page2 #text h1 span{
	color:#fff;
}
#page2 #text a{
	text-decoration:none;
	color:#fff;
	font-size:4vh;
}
#page2 #text a:hover{
	color:#a9cc17;
}
#page2 #gallery{
	text-align:center;
	width:65%;
	height:80%;
	padding:0 5% 0 5%;
	float:left;
}

@media only screen and (max-width: 1280px){
	#buttons{
		height:auto;
	}
	#buttons img
	{
		margin:10%;
		width:80%;
	}
	#page2 #text{
		width:100%;
		height:auto;
		text-align:center;
		margin:0;
	}

	#page2 #text h1{
		margin:0;
		font-size:8vh;
	}

	#page2 #text a{
		text-decoration:none;
		color:#fff;
		font-size:4vh;
	}

	#page2 #gallery{
		margin-top:1%;
		padding:5%;
		width:100%;
		height:auto;
	}
	#nonegame
	{
    color: #ffffff;
		padding:1%;
	}


}
#nonegame{
  color: #ffffff;
	padding:10%;
}

/*Style Game*/
.game_info{
	width: 100%;
	height: 900px;
	padding: 5% 2%;
	clear:both;
}
.game_info h2{
  color: #ffffff;
}
.game{
  color: #ffffff;
  text-align: center;
  margin-left: 2%;
}
#nonegame h1{
  width: 100%;
  height: 100px;
  text-align: center;
  float: none;
  margin-top: 60px;
  margin-bottom: 50px;
}
.game-left{
  text-align: center;
  float: left;
  color: #a9cc17;
}
.game-left p{
  text-align: justify;
}
.game-right{
  float: right;
}
.game h2{
  color: #ffffff;
  text-align: center;
}
/*Style Contact*/
#map {
  width: 100%;
  height: 260px;
}
.contact {
  color: #ffffff;
  text-align: center;
}
.contact h3{
  margin-top: 60px;
  color: #ffffff;
}
.form div {
  width: 48%;
  float: left;
  margin: 10px 0;
}
input[type="text"]{
  width: 96%;
  font-size: 1em;
  padding: 0.5em;
  background:#222222;
  color: #ffffff;
  border: 2px solid #2a2a2a;
}
input[type="submit"]{
  background:#a9cc17;
  color: #141414;
  font-size: 0.8em;
  padding:0.8em 2.2em;
  border:none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  margin-bottom: 25px;
}
input[type="submit"]:hover{
  background:rgb(20, 20, 20);
  color:#a9cc17;
}
textarea{
  background:#222222;
  color: #adadad;
  border: 2px solid #2a2a2a;
  width: 65%;
  font-size: 1em;
  padding: 0.5em;
}

/*Style footer*/
footer{
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}
footer p{
  font-size: 12px;
  margin: 0;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a{
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active{
  text-decoration: none;
  color:#a9cc17;
}
.greydout1{animation:fading 3s infinite}@keyframes fading{0%{opacity:0.8}50%{opacity:0}100%{opacity:0.8}}
.greydout2{animation:fading 6s infinite}@keyframes fading{0%{opacity:0.8}50%{opacity:0}100%{opacity:0.8}}
.greydout3{animation:fading 4s infinite}@keyframes fading{0%{opacity:0.8}50%{opacity:0}100%{opacity:0.8}}
.greydout4{animation:fading 5s infinite}@keyframes fading{0%{opacity:0.8}50%{opacity:0}100%{opacity:0.8}}
.greydout5{animation:fading 7s infinite}@keyframes fading{0%{opacity:0.8}50%{opacity:0}100%{opacity:0.8}}

/*Style add lol and cs*/
#info_exit{
  margin-top: 15%;
  font-size: 70px;
  color: #fff;
  text-align: center;
}

#sized{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.someId{
    position:relative;
    background-color: red;
    box-sizing: border-box;
    float:left;
    width: 32%;
    height: 33vh;
    margin:0 1% 1% 0;
}

@media only screen and (max-width: 1280px){
    .someId{
        width: 49%;
    }
}
