.container-fluid h1{
  font-size: 75px;
  text-align: center;
  margin-top: 5%;
  font-weight: 700;
}
.container-fluid h2{
  text-align: center;
  font-weight: lighter;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.col-sm{
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-weight: lighter;
}
.col-sm img{
  margin-right: 3%;
}
table{
  border-spacing: 0px 20px;
}
tr{
  background-color: #111111;
  opacity: 0.7;
}
td{
  text-align: center;
  font-weight: lighter;
  border-right: #E3E3E3 1.5px solid;
}
.title{
  width: 70%;
}
.score{
  width: 10%;
}
.status{
  width: 0.1%;
  padding: 0px;
}
