/*Style Article*/
#all_article h1{
  font-size: 6vh;
  margin-top: 5%;
  margin-bottom: 5%;
}
#all_article{
  color: #ffffff;
  width:100%;
  height:50%;
  padding:2vh 0;
}
#all_article #text{
  margin-top: 25%;
  color: #eee;
}
#all_article #text h1{
  margin:0;
  font-size:6vh;
  color:#ffffff;
}
#all_article #text h1 span{
  color:#fff;
}
#all_article #text a{
  text-decoration:none;
  color:#eee;
  font-size:3vh;
}
#all_article #text a:hover{
  color:#a9cc17;
}

@media only screen and (max-width: 950px){
  #all_article{
    margin-top: 5%;
  }
  #all_article #text{
    width:100%;
    height:auto;
    text-align:center;
    margin:0;
  }
  #all_article #text h1{
    margin:0;
    font-size:8vh;
  }
  #all_article #text a{
    text-decoration:none;
    color:#eee;
    font-size:4vh;
  }
  #all_article #gallery{
    margin-top:1%;
    padding:5%;
    width:100%;
    height:auto;
  }
  #all_article #gallery img{
    width:80%;
  }
}
.article-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.article-box .article-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: #a9cc17;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.article-box .article-box-caption .article-box-caption-content{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.article-box .article-box-caption .article-box-caption-content .post-description,
.article-box .article-box-caption .article-box-caption-content{
  padding: 0 15px;
}
.article-box .article-box-caption .article-box-caption-content .post-description{
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}
.article-box .article-box-caption .article-box-caption-content{
  font-size: 18px;
}
.article-box:hover .article-box-caption{
  opacity: 0.8;
}
.article-box:focus {
  outline: none;
}
.post-theme{
  text-align: center;
  font-size: 25px;
}
@media (min-width: 768px) {
  .article-box .article-box-caption .article-box-caption-content .post-description{
    font-size: 26px;
  }
  .article-box .article-box-caption .article-box-caption-content{
    font-size: 22px;
  }
}
@media (min-width: 150px) {
  .article-box .article-box-caption .article-box-caption-content .post-description{
    font-size: 16px;
  }
  .article-box .article-box-caption .article-box-caption-content{
    font-size: 8px;
  }
  footer{
   margin-top: 50px;
}
}

#abc{
    position: relative;
}

#mainImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

#sized{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.someId1{
    position:relative;
    box-sizing: border-box;
    float:left;
    width: 50%;
    height: 75vh;
    margin:0 1% 1% 0;
}

.someId2{
    position:relative;
    box-sizing: border-box;
    float:left;
    width: 31%;
    height: 35vh;
    margin:0 1% 5% 1%;
}
