body{
    color: #fff;
}
.page-gallery {
    margin-top: 10%;
}
.page-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.page-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.page-gallery img {
    border-radius: 4px;
}
.baguetteBox-button {
    background-color: transparent !important;
}
#close-button{
    outline: none;
}

#sized1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.someId1{
    position:relative;
    box-sizing: border-box;
    float:left;
    width: 24%;
    height: 50vh;
    margin:0 1% 1% 0;
}

.someId2{
    position:relative;
    box-sizing: border-box;
    float:left;
    width: 100%;
    height: 30vh;
    margin:0 1% 1% 0;
}
