body {
  background-color: #f8f8f8;
}
/*wapper*/
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  height: 800px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
/*nav sidebar*/
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
}
/*panel login*/
.col-md-4, .col-md-offset-4{
    margin: auto;
    margin-top: 200px;
}

#small{
    margin:1%;
    width: 10%;
    float:left;
}
#small img{
    width: 100%;
    border:2px solid black;
}
th{
    cursor:pointer;
}

#form1{
    float:left;
    width: 50%;
}
#form2{
    width: 50%;
    float:left;
}
